# IAM on AWS site
access_key  = "####################"
secret_key = "####################"

# check "Global" menu in AWS
region = "####################"

# Launch instance
ami = "ami-08b6fc871ad49ff41"
instance_type = "t2.micro"
